fastapi==0.115.11
uvicorn==0.34.0
supabase
pydantic==2.10.6
pydantic-settings==2.8.1
pydantic[email]
google-generativeai
python-dotenv
httpx
sqlalchemy==2.0.29
psycopg2-binary==2.9.9
passlib[bcrypt]==1.7.4
